@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import "tailwindcss";

@theme {
  --animate-ping-large: ping-large 1s ease-in-out infinite;
  --animate-shine: shine 10s ease-in-out infinite;

  @keyframes ping-large {
    75%,
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-sm transition-all duration-700;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;

  -webkit-user-select: none; /* Safari and older Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer and old Edge */
  user-select: none; /* Standard property for modern browsers */

  -webkit-touch-callout: none; /* Safari (iOS) */
  touch-action: manipulation; /* Modern browsers supporting Pointer Events (e.g., Chrome, Edge, Firefox on touch devices) */
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom fonts */

.tiktok-sans-normal {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
}

.tiktok-sans-medium {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
}

.tiktok-sans-semibold {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
}

.tiktok-sans-bold {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
}

.tiktok-sans-extrabold {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
}

.tiktok-sans-black {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
}

.outfit-normal-black {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-normal {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 900;
  font-style: normal;
}


/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
